* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: white;
    --h2Color: rgb(151, 109, 255);
    --textColor: gray;
    --paddingProject: 20px 200px;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(19, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
    color: var(--textColor);
}
header {
    background: rgb(10, 10, 10);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--paddingProject);
}
header img {
    width: 13%;
}
#header-container {
    padding: 0;
    display: flex;  
    justify-content: space-between;
    color: var(--white);
    width: 65%;
}
#header-container li {
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    color: var(--textColor);
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: all .6s;
}
#header-container li:hover {
    color: var(--white);
    border-bottom: 2px solid whitesmoke;
}
    

    /*inicia a section*/


#start {
    padding: var(--paddingProject);
    margin-top: 70px;
    display: flex;
}

#start .start-container {
    width: 55%;
}

.h1-start-container {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
}

.change-color {
    color: var(--h2Color);
}

.start-container input[type='button'] {
    padding: 22px 100px;
    margin-top: 35px;
    border-radius: 5px;
    background: var(--h2Color);
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--white);
}

#start .svg-container {

}


#experience {
    display: none;
    padding: var(--paddingProject);
    color: var(--white);
    width: 100%;
    height: 100vh; 
    margin-top: 40px;
}

.h1-section-container{
    font-size: 3rem;
    margin-bottom: 50px;
}

#experience .content-container {
    display: flex;
}
#experience .content-container .active-container {
    min-width: 300px;
    height: fit-content;
    background: black;
} 
.active-container #ul-section-container {
    margin: 0;
    padding: 0;
    background: rgb(15, 14, 14);
    cursor: pointer;
}
#ul-section-container .item {
    width: 100%;
    font-size: 1.5rem;
    padding: 25px 35px ;
}
#ul-section-container .active {
    border-left: 5px solid var(--h2Color);
    color: var(--h2Color);
}

.text-container {
    padding: 0 40px;
}

.text-container h2 {
    margin: 0;
    font-size: 2rem;
}

.text-container h5 {
    font-size: 1.2rem;
    color: var(--h2Color);
}


